{% extends "./base.html" %}
{% load static %}
{% block title %} PG | NOSOTROS  {% endblock %}

{% block body %}
    <div>
        <h1>NOSOTROS</h1>
    </div>

    <div>
    <div class="container">
        <div class="col-md-12 content">
            <div itemprop="articleBody">
                <h3>MISIÓN</h3>
                <p>Ampliar y fortalecer las competencias laborales, impartiendo cursos de capacitación y
                            desarrollo integral con los más altos estándares de calidad.
                </p>
                <p>&nbsp;</p>
                <h3>VISIÓN</h3>
                <p>Ser un referente en el desarrollo de competencias laborales, entregando los mejores
                           cursos de capacitación de Latinoamérica.</p>
                <p>&nbsp;</p>
                <h3>EQUIPO</h3>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/Veronica_Paz.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Verónica Paz</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/Catalina_Perez.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Catalina Perez</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/Fernanda_Perez.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Fernanda Perez</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/Hector_Arevalo.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Hector Arevalo</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/LorenaOlivares.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Lorena Olivares</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'img/nosotros/Alejandra_Perez.jpg'%}" alt="">
                    <div class="card-body">
                        <p class="card-text">Alejandra Perez</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse dignissimos eaque sunt
                                libero fuga dicta? Optio dignissimos ullam laborum est, iure impedit nisi nihil
                                veritatis.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
{% endblock %}